.divSize{
    height: 100px;
    width: 340px;
    margin: 20px;

}
.size{ height: 100%;
width: 100%}
.boxing{ 
        border: solid 2px black;
     }

.red {
    background-color: red
}

.blue {
    background-color: blue
}